
{% load static %}

<section class="installation-section">
        <div class="container">
            <div class="row faq-sec-Row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 installation-img-group">
                    <img class="installation-img1 img-animation-style4 reveal"
                        src="{% static 'images/home-page/installation-img1.jpg' %}" alt="installation-img1">
                    <img class="installation-img2 thumbnail" src="{% static 'images/home-page/installation-img2.jpg' %}"
                        alt="installation-img2">
                    <div class="yerOfExperi">
                        <h2>5+</h2>
                        <p>Years of Experience</p>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="quality-main about-qulity-main fade_down">
                        <p class="quality">FAQs</p>
                    </div>
                    <h2 class="handyman-text fade_down">Frequently asked questions</h2>
{#                    <p class="fusce fade_down">Feugiat cursus et morbi sit nunc varius. Tristique pharetra tortor#}
{#                        ultrices accumsan egestas ullamcorper varius quam sit velit donec eu.#}
{#                    </p>#}
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    What project management services do you offer?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    We provide turnkey project management services that cover planning, execution,
                                    monitoring, and closure. Our methods integrate global standards like PMBOK, Agile,
                                    and PRINCE2, customized for local conditions to deliver measurable outcomes.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Do you manage solar energy projects?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Yes. We handle end-to-end solar projects including Feasibility analysis (site suitability,
                                    solar potential, environmental impact) System design and installation oversight (mini-grids, rooftop systems),
                                    Project financing and ROI modeling (including carbon credits and donor funding),
                                    and Post-installation maintenance planning
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    How do you support business planning and organizational development?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    We work with organizations to develop customized business plans and models that align
                                    with market dynamics, funding objectives, and internal capabilities. Our team conducts
                                    comprehensive SWOT analyses and risk mapping to identify strengths, weaknesses,
                                    opportunities, and threats. We guide organizations through change management processes
                                    to support internal transformation and team alignment. To drive performance,
                                    we implement performance management systems such as KPIs, OKRs, and scorecards.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Can you help with go-to-market strategies and sales enablement?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Absolutely. We assist businesses in developing robust market entry strategies that
                                    include competitor analysis, pricing strategies, and customer segmentation.
                                    We support product launches with tailored branding and marketing strategies.
                                    Additionally, we help structure sales teams, implement customer relationship
                                    management (CRM) systems, and establish programs that enhance customer retention
                                    and sales performance.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed mb-0" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    What business compliance services do you provide?
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Our business compliance services simplify regulatory and legal obligations for clients.
                                    We assist with company registration, incorporation, and restructuring. We ensure
                                    statutory compliance by managing the timely filing of returns with bodies such as
                                    KRA, NHIF, NSSF, and NITA, as well as permit renewals and tax certificates.
                                    We support clients in obtaining industry-specific licenses, including NCA, EPRA,
                                    MOH, KEBS, HELB, and Data Protection registrations.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>