{% load static %}
<footer>
        <div class="container">
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
                    <a href="index.html"><img src="{% static 'images/logo2.jpg' %}" class="img-fluid" width="160px" alt="footer-logo"></a>
                    <p class="morbi">To provide expert consultancy services that drive innovation, operational efficiency, and sustainable
                        growth for our clients across diverse industries.</p>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
                    <h2 class="useful-link-text">Useful Links</h2>
                    <div class="row">
                        <div class="col-6">
                            <ul class="usefulLinks-List">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="project.html">Why Choose Us</a></li>
                                <li><a href="blog.html">Blog</a></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="usefulLinks-List">
                                <li><a href="contact.html">Contact Us</a></li>
                                <li><a href="faq.html">FAQs</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">T & C</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
                    <h2 class="useful-link-text">Our Services</h2>
                    <div class="row">
                        <div class="col-6">
                            <ul class="usefulLinks-List">
                                <li><a href="plumbing-service.html">Project Management</a></li>
                                <li><a href="roofing-service.html">Agricultural Management</a></li>
                                <li><a href="carpentry-service.html">ICT</a></li>
                                <li><a href="cleaning-service.html">Business Development</a></li>
                                <li><a href="cleaning-service.html">Business Compliance</a></li>
                            </ul>
                        </div>
{#                        <div class="col-6">#}
{#                            <ul class="usefulLinks-List">#}
{#                                <li><a href="electrical-service.html">Electrical</a></li>#}
{#                                <li><a href="AirCondition-service.html">Air Condition</a></li>#}
{#                                <li><a href="solar-service.html">Solar</a></li>#}
{#                                <li><a href="welding-service.html">Welding</a></li>#}
{#                            </ul>#}
{#                        </div>#}
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
                    <h2 class="useful-link-text">Contact Us</h2>
                    <div class="head-phone-white-main">
                        <div class="headphone-white">
                            <img src="{% static 'images/svg/headphone-white.svg' %}" alt="headphone-white">
                        </div>
                        <div>
                            <p class="CallUs">Call Us</p>
{#                            <a href="tel:+1(248)3578866" class="CallUs-phone">#}
{#                                <p>+1 (248) 357 8866</p>#}
{#                            </a>#}
                            <a href="tel:+254733808973" class="CallUs-phone"> <p>+254 733 808973</p> </a> <br>
                            <a href="tel:+254729175903" class="CallUs-phone"> <p>+254 729 175903</p> </a>
                        </div>
                    </div>
                    <div class="head-phone-white-main">
                        <div class="headphone-white">
                            <img src="{% static 'images/svg/email-White.svg' %}" alt="email-White">
                        </div>
                        <div>
                            <p class="CallUs">Email Us</p>
                            <a href="mailto:contact@gacrux.co.ke" class="CallUs-phone">
                                <p>contact@gacrux.co.ke</p>
                            </a>
                        </div>
                    </div>
                    <div class="head-phone-white-main">
                        <div class="headphone-white">
                            <img src="{% static 'images/svg/loaction-white.svg' %}" alt="loaction-white">
                        </div>
                        <div>
                            <p class="CallUs">Find Us</p>
                            <p class="CallUs-phone">Posta Towers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ====================================== Copyright ===================================== -->
    <div class="copyright-main">
        <div class="container">
            <div class="rights-reserved">
                <h2 ><span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> | Gacrux Consultants Limited
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
                </h2>
                <div class="home-media-icon-main-head">
                    <a href="https://www.facebook.com/">
                        <div class="home-media-icon-main">
                            <img src="{% static 'images/svg/facebook.svg' %}" alt="home-fb-icon">
                        </div>
                    </a>
                    <a href="https://x.com/">
                        <div class="home-media-icon-main">
                            <img src="{% static 'images/svg/twiiter.svg' %}" alt="home-tw-icon">
                        </div>
                    </a>
                    <a href="https://www.instagram.com/">
                        <div class="home-media-icon-main">
                            <img src="{% static 'images/svg/insta.svg' %}" alt="home-insta-icon">
                        </div>
                    </a>
                    <a href="https://www.linkedin.com/">
                        <div class="home-media-icon-main">
                            <img src="{% static 'images/svg/linkdien.svg' %}" alt="home-be-icon">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- ====================================== Bottom To Top Button ===================================== -->
    <button class="bottom-top-button"><img src="{% static 'images/svg/right-arrow-svg.svg' %}" alt="arrow-up"></button>
    <!-- ====================================== Bottom To Top Button End ===================================== -->
