{% load static %}

<!-- ====================================== Section Five ===================================== -->
    <section class="section-five">
        <div class="container">
            <div class="quality-main ourProcess fade_down">
                <p class="quality">Who we serve</p>
            </div>
            <h2 class="handyman-text quick fade_down" style="color: black;">Industries we Serve</h2>
            <p class="fusce malesuada elementum fade_down">We have experts in the following fields
            </p>
            <div class="row step-box-row">
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
                    <div class="steps-box-main flip_left">
                        <div class="number-circel">1</div>
                        <div class="steps-box">
                            <div class="register-img-main">
                                <img class="register" src="{% static 'images/svg/energy.svg' %}" alt="register">
                            </div>
                            <h2 class="Register-text">Energy & Renewables</h2>
{#                            <p class="proin">Sed sollicitudin faucibus proin id magna pellentesque in lobortis#}
{#                                pellentesque. Sed a nec proin tellus dictumst euismod pellentesque ac.</p>#}
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
                    <div class="steps-box-main flip_left">
                        <div class="number-circel">2</div>
                        <div class="steps-box">
                            <div class="register-img-main">
                                <img class="register" src="{% static 'images/svg/agriculture.svg' %}" alt="inspect">
                            </div>
                            <h2 class="Register-text">Agriculture</h2>
{#                            <p class="proin">Eu ante ultrices congue dui ridiculus ut sit vitae. Turpis non#}
{#                                porttitor lobortis faucibus tincidunt. Sed sem sit in in. Ullamcorper laoreet.</p>#}
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
                    <div class="steps-box-main flip_left">
                        <div class="number-circel">3</div>
                        <div class="steps-box">
                            <div class="register-img-main">
                                <img class="register" src="{% static 'images/svg/sme.svg' %}" alt="workProcess">
                            </div>
                            <h2 class="Register-text">Small and Medium Enterprises</h2>
{#                            <p class="proin">Vivamus quis duis mattis cursus augue. In sollicitudin risus mollis et.#}
{#                                Mauris id tristique pulvinar vitae volutpat vulputate a. Ullamcorper.</p>#}
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
                    <div class="steps-box-main flip_left">
                        <div class="number-circel">4</div>
                        <div class="steps-box">
                            <div class="register-img-main">
                                <img class="register" src="{% static 'images/svg/ngo.svg' %}" alt="handover">
                            </div>
                            <h2 class="Register-text">NGOs</h2>
{#                            <p class="proin">Ut tincidunt orci arcu feugiat hendrerit sit venenatis id. Non etiam#}
{#                                senectus lacus scelerisque eget dui lacus. Purus mauris a sed aliquam.</p>#}
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
                    <div class="steps-box-main flip_left">
                        <div class="number-circel">5</div>
                        <div class="steps-box">
                            <div class="register-img-main">
                                <img class="register" src="{% static 'images/svg/government.svg' %}" alt="handover">
                            </div>
                            <h2 class="Register-text">Public Sector & County Governments</h2>
{#                            <p class="proin">Ut tincidunt orci arcu feugiat hendrerit sit venenatis id. Non etiam#}
{#                                senectus lacus scelerisque eget dui lacus. Purus mauris a sed aliquam.</p>#}
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
                    <div class="steps-box-main flip_left">
                        <div class="number-circel">6</div>
                        <div class="steps-box">
                            <div class="register-img-main">
                                <img class="register" src="{% static 'images/svg/ict.svg' %}" alt="handover">
                            </div>
                            <h2 class="Register-text">ICT</h2>
{#                            <p class="proin">Ut tincidunt orci arcu feugiat hendrerit sit venenatis id. Non etiam#}
{#                                senectus lacus scelerisque eget dui lacus. Purus mauris a sed aliquam.</p>#}
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
                    <div class="steps-box-main flip_left">
                        <div class="number-circel">7</div>
                        <div class="steps-box">
                            <div class="register-img-main">
                                <img class="register" src="{% static 'images/svg/real-estate.svg' %}" alt="handover">
                            </div>
                            <h2 class="Register-text">Real Estate</h2>
{#                            <p class="proin">Ut tincidunt orci arcu feugiat hendrerit sit venenatis id. Non etiam#}
{#                                senectus lacus scelerisque eget dui lacus. Purus mauris a sed aliquam.</p>#}
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
                    <div class="steps-box-main flip_left">
                        <div class="number-circel">8</div>
                        <div class="steps-box">
                            <div class="register-img-main">
                                <img class="register" src="{% static 'images/svg/transport.svg' %}" alt="handover">
                            </div>
                            <h2 class="Register-text">Transport & Logistics</h2>
{#                            <p class="proin">Ut tincidunt orci arcu feugiat hendrerit sit venenatis id. Non etiam#}
{#                                senectus lacus scelerisque eget dui lacus. Purus mauris a sed aliquam.</p>#}
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
                    <div class="steps-box-main flip_left">
                        <div class="number-circel">9</div>
                        <div class="steps-box">
                            <div class="register-img-main">
                                <img class="register" src="{% static 'images/svg/finance.svg' %}" alt="handover">
                            </div>
                            <h2 class="Register-text">Financial Services</h2>
{#                            <p class="proin">Ut tincidunt orci arcu feugiat hendrerit sit venenatis id. Non etiam#}
{#                                senectus lacus scelerisque eget dui lacus. Purus mauris a sed aliquam.</p>#}
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
                    <div class="steps-box-main flip_left">
                        <div class="number-circel">10</div>
                        <div class="steps-box">
                            <div class="register-img-main">
                                <img class="register" src="{% static 'images/svg/medical.svg' %}" alt="handover">
                            </div>
                            <h2 class="Register-text">Health & Medical Services</h2>
{#                            <p class="proin">Ut tincidunt orci arcu feugiat hendrerit sit venenatis id. Non etiam#}
{#                                senectus lacus scelerisque eget dui lacus. Purus mauris a sed aliquam.</p>#}
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
                    <div class="steps-box-main flip_left">
                        <div class="number-circel">11</div>
                        <div class="steps-box">
                            <div class="register-img-main">
                                <img class="register" src="{% static 'images/svg/environment.svg' %}" alt="handover">
                            </div>
                            <h2 class="Register-text">Environmental and Climate Change Programs</h2>
{#                            <p class="proin">Ut tincidunt orci arcu feugiat hendrerit sit venenatis id. Non etiam#}
{#                                senectus lacus scelerisque eget dui lacus. Purus mauris a sed aliquam.</p>#}
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
                    <div class="steps-box-main flip_left">
                        <div class="number-circel">12</div>
                        <div class="steps-box">
                            <div class="register-img-main">
                                <img class="register" src="{% static 'images/svg/retail.svg' %}" alt="handover">
                            </div>
                            <h2 class="Register-text">Retail & Distribution</h2>
{#                            <p class="proin">Ut tincidunt orci arcu feugiat hendrerit sit venenatis id. Non etiam#}
{#                                senectus lacus scelerisque eget dui lacus. Purus mauris a sed aliquam.</p>#}
                        </div>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
                    <div class="steps-box-main flip_left">
                        <div class="number-circel">13</div>
                        <div class="steps-box">
                            <div class="register-img-main">
                                <img class="register" src="{% static 'images/svg/manufacture.svg' %}" alt="handover">
                            </div>
                            <h2 class="Register-text">Manufacturing & Industrial Operations</h2>
{#                            <p class="proin">Ut tincidunt orci arcu feugiat hendrerit sit venenatis id. Non etiam#}
{#                                senectus lacus scelerisque eget dui lacus. Purus mauris a sed aliquam.</p>#}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>