{% load static %}

<!-- ====================================== Section Eight ===================================== -->
    <section class="section-eight mb-4">
        <div class="container">
            <div class="quality-main ourProcess fade_down">
                <p class="quality">our teams</p>
            </div>
            <h2 class="handyman-text legal fade_down">Meet our Experienced Team</h2>
            <p class="fusce elementum fade_down">Get to know the experts behind our success—each member of our team
                brings years of hands-on experience, deep industry knowledge, and a proven track record of delivering
                real results.
            </p>
            <div class="row ourTeam-Row">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 ourTeam-Col">
                    <div class="team-img-container">
                        <img class="team-img" src="{% static 'images/team-page/team-img1.jpg' %}" alt="team-img1">
                        <div class="team-mem-details" onclick="window.location.href='single-team.html'">
                            <h2>Shariff Jere</h2>
                            <p>Director</p>
                        </div>
                        <div class="share-btn-main">
                            <div class="share">
                                <img src="{% static 'images/svg/share.svg' %}" alt="share">
                                <ul class="submenu">
                                    <li>
                                        <a class="facebook" href="https://www.facebook.com/">
                                            <img src="{% static 'images/svg/facebook.svg' %}" alt="facebook">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="twitter" href="https://x.com/">
                                            <img src="{% static 'images/svg/twiiter.svg' %}" alt="twiiter">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="tumblr" href="https://www.instagram.com/">
                                            <img src="{% static 'images/svg/insta.svg' %}" alt="insta">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="pinterest" href="https://www.linkedin.com/">
                                            <img src="{% static 'images/svg/linkdien.svg' %}" alt="linkdien">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 ourTeam-Col">
                    <div class="team-img-container">
                        <img class="team-img" src="{% static 'images/team-page/team-img1.jpg' %}" alt="team-img2">
                        <div class="team-mem-details" onclick="window.location.href='single-team.html'">
                            <h2>Roy Ombasa</h2>
                            <p>Software Developer</p>
                        </div>
                        <div class="share-btn-main">
                            <div class="share">
                                <img src="{% static 'images/svg/share.svg' %}" alt="share">
                                <ul class="submenu">
                                    <li>
                                        <a class="facebook" href="https://www.facebook.com/">
                                            <img src="{% static 'images/svg/facebook.svg' %}" alt="facebook">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="twitter" href="https://x.com/">
                                            <img src="{% static 'images/svg/twiiter.svg' %}" alt="twiiter">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="tumblr" href="https://www.instagram.com/">
                                            <img src="{% static 'images/svg/insta.svg' %}" alt="insta">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="pinterest" href="https://www.linkedin.com/">
                                            <img src="{% static 'images/svg/linkdien.svg' %}" alt="linkdien">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 ourTeam-Col">
                    <div class="team-img-container">
                        <img class="team-img" src="{% static 'images/team-page/team-img1.jpg' %}" alt="team-img3">
                        <div class="team-mem-details" onclick="window.location.href='single-team.html'">
                            <h2>Max Walker</h2>
                            <p>Software Developer</p>
                        </div>
                        <div class="share-btn-main">
                            <div class="share">
                                <img src="{% static 'images/svg/share.svg' %}" alt="share">
                                <ul class="submenu">
                                    <li>
                                        <a class="facebook" href="https://www.facebook.com/">
                                            <img src="{% static 'images/svg/facebook.svg' %}" alt="facebook">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="twitter" href="https://x.com/">
                                            <img src="{% static 'images/svg/twiiter.svg' %}" alt="twiiter">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="tumblr" href="https://www.instagram.com/">
                                            <img src="{% static 'images/svg/insta.svg' %}" alt="insta">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="pinterest" href="https://www.linkedin.com/">
                                            <img src="{% static 'images/svg/linkdien.svg' %}" alt="linkdien">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 ourTeam-Col">
                    <div class="team-img-container">
                        <img class="team-img" src="{% static 'images/team-page/team-img1.jpg' %}" alt="team-img4">
                        <div class="team-mem-details" onclick="window.location.href='single-team.html'">
                            <h2>Melena Marshall</h2>
                            <p>Tax Consultant</p>
                        </div>
                        <div class="share-btn-main">
                            <div class="share">
                                <img src="{% static 'images/svg/share.svg' %}" alt="share">
                                <ul class="submenu">
                                    <li>
                                        <a class="facebook" href="https://www.facebook.com/">
                                            <img src="{% static 'images/svg/facebook.svg' %}" alt="facebook">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="twitter" href="https://x.com/">
                                            <img src="{% static 'images/svg/twiiter.svg' %}" alt="twiiter">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="tumblr" href="https://www.instagram.com/">
                                            <img src="{% static 'images/svg/insta.svg' %}" alt="insta">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="pinterest" href="https://www.linkedin.com/">
                                            <img src="{% static 'images/svg/linkdien.svg' %}" alt="linkdien">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Appointment-box fade_down">
                <div class="container Appointment-box-sub">
                    <button class="diamond-btn calendar-btn" onclick="window.location.href='contact.html'">
                        <img src="{% static 'images/svg/calendar.svg' %}" alt="calendar">
                    </button>
                    <h3>Our Expert Will Be Available <span>Mon - Fri (9 Am - 5 Pm)</span> Book An Appointment For
                        Services.</h3>
                </div>
            </div>
        </div>
    </section>