{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block pageTitle %}<title>Gacrux</title>{% endblock %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/swap.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/media_query.css' %}">
</head>
<body>

    {% include 'includes/header.html' %}


    {% block main %}
    {% endblock %}

    <!-- ====================================== Footer ===================================== -->
    {% include 'includes/footer.html' %}

    <script src="{% static 'javascript/jquery.js' %}"></script>
    <script src="{% static 'javascript/bootstrap.min.js' %}"></script>
    <script src="{% static 'javascript/magnific-pop.min.js' %}"></script>
    <script src="{% static 'javascript/slick.min.js' %}"></script>
    <script src="{% static 'javascript/gsap.min.js' %}"></script>
    <script src="{% static 'javascript/parallax.js' %}"></script>
    <script src="{% static 'javascript/script.js' %}"></script>

   <script>
        /*-------------------------------------  Video Play Button -------------------------------------*/
        $(document).ready(function () {
            $('.youtube').magnificPopup({
                items: {
                    src: 'https://www.youtube.com/watch?v=Hh3MjLaDNG8'
                },
                type: 'iframe'
            });
        });
    </script>
</body>

</html>