{% extends 'base.html' %}
{% load static %}
{% block pageTitle %}<title>Business Development</title>{% endblock %}


{% block main %}
    <!-- ====================================== Section One ===================================== -->
     <section class="section-one">
        <div class="page-img-header" id="solar-service-bg">
            <div class="container">
                <h1 class="img-header-text fade_down">Business Development</h1>
                <div class="breadcrumb-group fade_up">
                    <a href="{% url 'index' %}">HOME / </a>
                    <a href="{% url 'services' %}"> SERVICES /</a>
                    <a href="{% url 'project-management' %}"> Business Development</a>
                </div>
            </div>
        </div>
    </section>


        <section class="section-eight" id="services-page-section">
        <div class="container">
            <div class="row">
                <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12">
{#                    <h2 class="handyman-text fade_down pt-0">Adipiscing iaculis iaculis enim enim magna sociis morbi#}
{#                        interdum varius.</h2>#}
                    <p class="fusce fade_down">We empower organizations at every stage of
                            growth -from ideation to market
                            dominance - with tools, insights, and
                            strategies that foster sustainable success.

                    </p>
                    <h4 class="interdum fade_down">Planning & Organizational Development</h4>

                    <div class="plan-body plumbing-body-list fade_down">

                        <ol>
                            <li><b>Business Plans & Models: </b>Customized plans that align with market dynamics, funding goals, and internal capabilities.</li>
                            <li><b>SWOT Analysis & Risk Mapping:</b>Comprehensive evaluations of current business environments to uncover opportunities and threats.</li>
                            <li><b>Change Management:</b> Frameworks to guide internal transformation and team alignment.</li>
                            <li><b>Performance Management Systems: </b> KPIs, OKRs, and scorecards to drive efficiency and accountability.</li>
                        </ol>
                    </div>

{#                    <div class="plumbing-grid img-animation-style1 reveal">#}
{#                        <img src="{% static 'images/services-page/roofing-services-img4.jpg' %}" alt="roofing-services-img4">#}
{#                        <img src="{% static 'images/services-page/roofing-services-img4.jpg' %}" alt="roofing-services-img4">#}
{#                    </div>#}

                    <h4 class="interdum fade_down">Go-to-Market Strategy & Sales</h4>

                    <div class="plan-body plumbing-body-list fade_down">

                        <ol>
                            <li><b>Enablement Market Entry Strategy:</b> Competitor analysis, pricing strategy, and customer segmentation. </li>
                            <li><b>Product Launch & Branding: </b> Strategic product introductions supported by effective marketing and communication.</li>
                            <li><b>Sales Strategy & CRM: </b> Structuring sales teams, tools, and customer retention programs.</li>
                            <li><b>Community Engagement:</b> Stakeholder consultations for socially accepted infrastructure rollouts.</li>
                        </ol>
                    </div>

{#                    <div class="plumbing-grid img-animation-style1 reveal">#}
{#                        <img src="{% static 'images/services-page/air-services-img2.jpg' %}" alt="roofing-services-img3">#}
{#                        <img src="{% static 'images/services-page/air-services-img3.jpg' %}" alt="roofing-services-img4">#}
{#                    </div>#}

                    <h4 class="interdum fade_down">Access to Finance & Investment Readiness</h4>

                    <div class="plan-body plumbing-body-list fade_down">

                        <ol>
                            <li><b>Investor Pitch Decks & Proposals:</b> Professionally written and designed documents that communicate business value clearly. </li>
                            <li><b>Financial Modeling: </b> Forecasting, cash flow projections, and break-even analysis to support fundraising efforts.</li>
                            <li><b>Donor & Grant Applications: </b> Identifying opportunities and crafting winning proposals for development funding.</li>
                            <li><b>Community Engagement:</b> Stakeholder consultations for socially accepted infrastructure rollouts.</li>
                        </ol>
                    </div>

{#                    <div class="plumbing-grid img-animation-style1 reveal">#}
{#                        <img src="{% static 'images/services-page/air-services-img2.jpg' %}" alt="roofing-services-img3">#}
{#                        <img src="{% static 'images/services-page/air-services-img3.jpg' %}" alt="roofing-services-img4">#}
{#                    </div>#}
                </div>


{#                Include sevices sidebar#}
                {% include 'includes/services-sidebar.html' %}

            </div>
        </div>
    </section>

    <!-- ====================================== Teams Section  ===================================== -->

    {% include 'includes/faq.html' %}


{% endblock %}