{% extends 'base.html' %}

{% load static  %}

{% block main %}
<!-- ====================================== Section One ===================================== -->
    <section class="section-one">
        <div class="background-img-slider-SecOne">
            <div class="slider-section">
                <div class="slider-main">
                    <img class="service-main-bg" src="{% static 'images/slider1.png' %}"
                        alt="slider-imgsec1-img1">
                    <img class="service-main-bg" src="{% static 'images/slider2.png' %}"
                        alt="slider-imgsec1-img2">
                </div>
            </div>
            <div class="container">
                <div class="row sec-one-row">
                    <div class="col-xxl-6 col-xl-6 col-lg-9 sec-one-col1 fade_down">
                        <div class="quality-main">
                            <p class="quality">Innovation and Sustainability</p>
                        </div>
                        <h2 class="Handyman-main-text"> Value-driven Solutions</h2>
                        <h2 class="eget">We specialize in Project Management, Information and Communications Technology (ICT), and Business Development.</h2>
                        <div class="sec-one-buttons">
                            <a href="{% url 'contact-us' %}" class="btn-main btn1">Talk to Us
                                <span class="arrow-section">
                                    <img class="arrow" src="{% static 'images/svg/right-arrow-svg.svg' %}"
                                        alt="right-arrow-svg">
                                </span>
                                <div class="btn-box-left"></div>
                                <div class="btn-box-right"></div>
                            </a>
{#                            <div class="position-relative">#}
{#                                <button class="diamond-btn youtube">#}
{#                                    <img src="{% static 'images/svg/play-btn.svg' %}" alt="play-btn">#}
{#                                </button>#}
{#                                <div class="right-arrow-svg">#}
{#                                    <img src="{% static 'images/svg/dot-arrow-png.svg' %}" alt="dot-arrow-png">#}
{#                                    <p class="play-now">Play Now</p>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-12 sec-one-col1 fade_left">
                        <img class="sec-oneimg1" src="{% static 'images/heroimg3.jpg' %}" alt="sec-oneimg1" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====================================== Section Two ===================================== -->
    <section class="section-two">
        <div class="container">
            <div class="quality-main about-qulity-main fade_down">
                <p class="quality">About Gacrux Consultants</p>
            </div>
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <h2 class="handyman-text fade_down">Founded with a vision to bridge strategy and execution.</h2>
                    <div class="about-sec-img-main">
                        <img class="about-sec-img1 img-animation-style1 reveal" src="{% static 'images/home-page/estimate-img3.jpg' %}" alt="about-sec-img1" loading="lazy">
                        <img class="about-sec-img2 img-animation-style2 reveal" src="{% static 'images/about-page/about-sec-img2.jpg' %}" alt="about-sec-img2" loading="lazy">
                        <img class="about-sec-img3 img-animation-style6 reveal" src="{% static 'images/about-page/about-sec-img3.jpg' %}" alt="about-sec-img3" loading="lazy">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <p class="fusce fade_down">We partner with private companies, government institutions, NGOs, SMES, and
                        community-based organizations to offer solutions that are practical, scalable, and results-oriented.</p>
                    <div class="row highQulity-box-row overflow-hidden">
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="highQulity-box fade_right">
                                <img src="{% static 'images/svg/about-sec-svg1.svg' %}" alt="about-sec-svg1">
                                <p class="highQulity">Excellence</p>
                                <p class="semper">We uphold high standards in every project and interaction.</p>
                            </div>
                            <div class="highQulity-box highQulity-box2 fade_right">
                                <img src="{% static 'images/svg/about-sec-svg3.svg' %}" alt="about-sec-svg1">
                                <p class="highQulity">Innovation</p>
                                <p class="semper"> We embrace creativity and forward-thinking in solving complex challenges.</p>
                            </div>
                        </div>
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="highQulity-box fade_left">
                                <img src="{% static 'images/svg/about-sec-svg2.svg' %}" alt="about-sec-svg1">
                                <p class="highQulity">Client-Centricity</p>
                                <p class="semper">We prioritize client needs and tailor our solutions for maximum relevance and effectiveness.</p>
                            </div>
                            <div class="highQulity-box highQulity-box2 fade_left">
                                <img src="{% static 'images/svg/about-sec-svg4.svg' %}" alt="about-sec-svg1">
                                <p class="highQulity">Collaboration</p>
                                <p class="semper">We work closely with our clients, partners, and communities to achieve shared success.</p>
                            </div>
                        </div>
                        <p class="semper blandit">At Gacrux Consultants Ltd, we believe that success is
                            not just about what we deliver -it's about how we
                            empower our clients to grow, evolve, and thrive in
                            today's ever-changing business and development
                            landscape.
                            </p>
                        <div class="about-sec-contact-main">

                            <div class="contact-box">
                                <div class="headphone-icon">
                                    <img src="{% static 'images/svg/headphone.svg' %}" alt="headphone">
                                </div>
                                <div class="call-info-book">
                                    <p>Give us a Call</p>
                                    <a href="tel:+254733808973">+254 733 808973</a> <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====================================== Section Three ===================================== -->
    <section class="section-three">
        <div class="container">
            <div class="quality-main about-qulity-main fade_down">
                <p class="quality">our services</p>
            </div>
            <div class="handyman-services-textMain">
                <h4 class="handyman-text handyman-services fade_down text-center">We provide services in Project Management, ICT,
                    Agriculture, Business Development and Business Compliance
                </h4>
{#                <p class="fusce malesuada fade_down mt-0">Volutpat et malesuada maecenas amet. Ultrices volutpat auctor#}
{#                    euismod eget pulvinar nulla porttitor. Faucibus faucibus consectetur et tellus magnis. Nunc proin#}
{#                    mauris enim duis aliquet fringilla. Erat semper amet turpis cursus. Vel tellus tellus risus eu lacus#}
{#                    volutpat morbi. Cursus tincidunt urna condimentum egestas integer.#}
{#                </p>#}
            </div>
            <div class="services_slider">
                <div class="services-slider-box" onclick="window.location.href='{% url "project-management" %}'">
                    <img class="services-icon" src="{% static 'images/home-page/our-servicesimg1.jpg' %}"
                        alt="our-servicesimg1" loading="lazy">
                    <div class="services-icon-box">
                        <img class="plumbing" src="{% static 'images/svg/project.svg' %}" alt="project">
                        <h2 class="services-solution-main-text">Project Management</h2>
                        <p class="aliquam-text">We offer turnkey project management services, helping clients translate ideas into reality
                            through efficient planning, execution, monitoring, and closure.</p>
                    </div>
                </div>
                <div class="services-slider-box" onclick="window.location.href='{% url "agriculture" %}'">
                    <img class="services-icon" src="{% static 'images/home-page/our-servicesimg2.jpg' %}"
                        alt="our-servicesimg2" loading="lazy">
                    <div class="services-icon-box">
                        <img class="plumbing" src="{% static 'images/svg/agriculture.svg' %}" alt="agriculture">
                        <h2 class="services-solution-main-text">Agriculture Development</h2>
                        <p class="aliquam-text">From smallholder programs to commercial farms, we
                            guide project rollout including land preparation, input procurement, and planting schedules.</p>
                    </div>
                </div>
                <div class="services-slider-box" onclick="window.location.href='{% url "ict" %}'">
                    <img class="services-icon" src="{% static 'images/home-page/our-servicesimg3.jpg' %}"
                        alt="our-servicesimg3" loading="lazy">
                    <div class="services-icon-box">
                        <img class="plumbing" src="{% static 'images/svg/ict.svg' %}" alt="ict">
                        <h2 class="services-solution-main-text">Information Communication Technology</h2>
                        <p class="aliquam-text">Our ICT services help businesses navigate and thrive in the digital era through smart
                        solutions that blend strategy, creativity, and technology.</p>
                    </div>
                </div>
                <div class="services-slider-box" onclick="window.location.href='{% url "business-development" %}'">
                    <img class="services-icon" src="{% static 'images/home-page/our-servicesimg4.jpg' %}"
                        alt="our-servicesimg4" loading="lazy">
                    <div class="services-icon-box">
                        <img class="plumbing" src="{% static 'images/svg/business.svg' %}" alt="cleaning">
                        <h2 class="services-solution-main-text">Business Development</h2>
                        <p class="aliquam-text">We empower organizations at every stage of growth -from ideation to market
                            dominance - with tools, insights, and strategies that foster sustainable success.</p>
                    </div>
                </div>
                <div class="services-slider-box" onclick="window.location.href='{% url "business-compliance" %}'">
                    <img class="services-icon" src="{% static 'images/home-page/our-servicesimg5.jpg' %}"
                        alt="our-servicesimg5" loading="lazy">
                    <div class="services-icon-box">
                        <img class="plumbing" src="{% static 'images/svg/compliance.svg' %}" alt="compliance">
                        <h2 class="services-solution-main-text">Business Compliance</h2>
                        <p class="aliquam-text">Our Business Compliance Services are designed to simplify the process
                            and ensure your operations remain fully aligned with Kenyan laws and international standards.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="View-btn-sec">
        <div class="container">
            <div class="View-btn-sec-btn-main">
                <a href="{% url 'services' %}" class="btn-main btn2">View All Services
                    <span class="arrow-section">
                        <img class="arrow" src="{% static 'images/svg/right-arrow-svg.svg' %}" alt="right-arrow-svg">
                    </span>
                    <div class="btn-box-left btn2"></div>
                    <div class="btn-box-right btn2"></div>
                </a>
            </div>
        </div>
    </div>

    <!-- ====================================== Section Four ===================================== -->
    <section class="section-four" id="quote">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="quality-main about-qulity-main fade_down">
                        <p class="quality">get a free estimate</p>
                    </div>
                    <h2 class="handyman-text fade_down">Request for a quote</h2>
{#                    <p class="fusce fade_down mt-0">Ridiculus eu facilisi habitasse leo elementum phasellus egestas#}
{#                        arcu. Urna pretium et nec eu viverra lacinia vitae. Est volutpat egestas libero viverra.#}
{#                    </p>#}
                    <form class="req-form-main">
                        <div class="input-main">
                            <input type="text" placeholder="Your Name*" name="YourName">
                            <input type="text" placeholder="Email ID*" name="EmailID">
                        </div>
                        <div class="input-main">
                            <input type="text" placeholder="Phone Number*" name="YourName">
                            <div class="wrapper">
                                <div class="formDropDown">Choose Service*
                                    <img class="arrow-icon-form" src="{% static 'images/svg/down-arrow.svg' %}"
                                        alt="arrow-icon-form">
                                </div>
                                <div class="position-relative">
                                    <ul class="formDropDown-ul-list">
                                        <li><a href="javascript:void(0)">Project Management</a></li>
                                        <li><a href="javascript:void(0)">ICT</a></li>
                                        <li><a href="javascript:void(0)">Agriculture Management</a></li>
                                        <li><a href="javascript:void(0)">Business Development </a></li>
                                        <li><a href="javascript:void(0)">Business Compliance</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="input-main">
                            <textarea placeholder="Your Message*" name="YourMessage" style="background-color: #F5F5F6; "></textarea>
                        </div>
                        <div class="Submit">
                            <a href="#" class="btn-main btn2">Submit
                                <span class="arrow-section">
                                    <img class="arrow" src="{% static 'images/svg/right-arrow-svg.svg' %}"
                                        alt="right-arrow-svg">
                                </span>
                                <div class="btn-box-left btn2"></div>
                                <div class="btn-box-right btn2"></div>
                            </a>
                        </div>
                    </form>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 position-relative request-qoute-img-main">
                    <img class="request-qoute-img" src="{% static 'images/get-qoute-page/request-qoute-img.png' %}"
                        alt="request-qoute-img" loading="lazy">
                </div>
            </div>
        </div>
    </section>


{#    ====================================== Industries Section ===================================== -->#}
    {% include 'includes/industries.html' %}


    <!-- ====================================== Section Six ===================================== -->
    <section class="section-six">
        <div class="container">
            <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4">
                    <div class="quality-main about-qulity-main fade_down">
                        <p class="quality">projects</p>
                    </div>
                    <h2 class="handyman-text fade_down">Visit our previous projects</h2>
                    <p class="fusce fade_down">See what we've done for our previous clients during the last five (5) years
                     </p>
                    <div class="Submit seemore-btn-main">
                        <a href="" class="btn-main btn2">See More
                            <span class="arrow-section">
                                <img class="arrow" src="{% static 'images/svg/right-arrow-svg.svg' %}" alt="right-arrow-svg">
                            </span>
                            <div class="btn-box-left btn2"></div>
                            <div class="btn-box-right btn2"></div>
                        </a>
                    </div>
                </div>
                <div class="col-xxl-8 col-xl-8 col-lg-8">
                    <div class="img-group-estimate-main">
                        <div class="img-wrapper">
                            <img class="estimate-img img-animation-style1 reveal"
                                src="{% static 'images/home-page/estimate-img1.jpg' %}" alt="estimate-img1" loading="lazy">
                            <div class="overlay"></div>
                            <div class="overlay-text">
                                <p>SoftwareDevelopment</p>
                                <a class="view-details-btn" href="#">View Details
                                    <img src="{% static 'images/svg/arrow-cross.svg' %}" alt="arrow-cross">
                                </a>
                            </div>
                        </div>
                        <div class="img-group-estimate2">
                            <div class="img-wrapper">
                                <img class="img-animation-style4 reveal" src="{% static 'images/home-page/estimate-img2.jpg' %}" loading="lazy"
                                    alt="estimate-img2">
                                <div class="overlay"></div>
                                <div class="overlay-text">
                                    <p>Drone pesticide spraying </p>
                                    <a class="view-details-btn" href="#">View Details
                                        <img src="{% static 'images/svg/arrow-cross.svg' %}" alt="arrow-cross">
                                    </a>
                                </div>
                            </div>
                            <div class="img-wrapper">
                                <img class="img-animation-style2 reveal" src="{% static 'images/home-page/estimate-img3.jpg' %}" loading="lazy"
                                    alt="estimate-img3">
                                <div class="overlay"></div>
                                <div class="overlay-text">
                                    <p>Statutory Compliance</p>
                                    <a class="view-details-btn" href="#">View Details
                                        <img src="{% static 'images/svg/arrow-cross.svg' %}" alt="arrow-cross">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====================================== Section Seven ===================================== -->
{#    <section class="section-seven">#}
{#        <div class="container">#}
{#            <div class="free-contact-sec-main">#}
{#                <div>#}
{#                    <div class="quality-main about-qulity-main fade_down">#}
{#                        <p class="quality">Contact us today</p>#}
{#                    </div>#}
{#                    <h2 class="handyman-text premium-handyman fade_down">Let Gacrux work for you#}
{#                    </h2>#}
{#                </div>#}
{#                <a href="get-quote.html" class="btn-main btn1">Get A Quote#}
{#                    <span class="arrow-section">#}
{#                        <img class="arrow" src="{% static 'images/svg/right-arrow-svg.svg' %}" alt="right-arrow-svg">#}
{#                    </span>#}
{#                    <div class="btn-box-left btn1"></div>#}
{#                    <div class="btn-box-right btn1"></div>#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

{#    {% include 'includes/team.html' %}#}



    <!-- ====================================== Section Nine ===================================== -->
    <section class="curved-section">
        <div class="container">
            <div class="row curved-section-row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 curved-section-col1">
                    <div class="quality-main about-qulity-main fade_down">
                        <p class="quality">TOP RATED</p>
                    </div>
                    <h2 class="handyman-text handyman-services fade_down">We are highly rated</h2>
                    <p class="fusce malesuada pharetra fade_down">We’re proud to be a top-rated team, trusted by clients
                        for our reliability, expertise, and consistent results. Our high ratings reflect years of dedication,
                        satisfied customers, and a strong reputation built on transparency and performance.
                    </p>
                    <div class="trusted-group fade_down">
                        <div class="star-img-main">
                            <img src="{% static 'images/svg/star.svg' %}" alt="star">
                            <p class="rating-digit">4.8<sub>/5.0</sub></p>
                        </div>
                        <div>
                            <h2 class="TrustScore">Trust Score Rated</h2>
                            <p class="ratedCustom">Rated our customers</p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 image-Photo-main">
                    <img class="image-Photo" style="display: flex; justify-content: center;" src="{% static 'images/home-page/image-Photo.png' %}" loading="lazy" width="300" alt="image-Photo">
                </div>
            </div>
        </div>
    </section>
    <!-- ====================================== Section Blog ===================================== -->
{#    <section class="blog-section">#}
{#        <div class="container">#}
{#            <div class="quality-main ourProcess fade_down">#}
{#                <p class="quality">BLOGS & ARTICLES</p>#}
{#            </div>#}
{#            <h2 class="handyman-text legal fade_down">Read our latest blogs</h2>#}
{#            <p class="fusce elementum fade_down">Feugiat cursus et morbi sit nunc varius. Tristique pharetra tortor#}
{#                ultrices accumsan egestas ullamcorper. Sit varius quam sit velit donec eu in ornare suspendisse.#}
{#            </p>#}
{#            <div class="row blog-section-row">#}
{#                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">#}
{#                    <a href="single-blog.html" class="blog-box">#}
{#                        <div class="overflow-hidden">#}
{#                            <img class="blog-img" src="{% static 'images/blog-page/blog-img1.jpg' %}" alt="blog-img1">#}
{#                        </div>#}
{#                        <div class="tag-date">#}
{#                            <div class="tag-date-sub">#}
{#                                <img class="blog-cal-svg" src="{% static 'images/svg/calendar.svg' %}" alt="calendar">#}
{#                                <p>25 Dec 2025</p>#}
{#                            </div>#}
{#                            <div class="tag-date-sub">#}
{#                                <img src="{% static 'images/svg/tag-svg.svg' %}" alt="calendar">#}
{#                                <p>Plumbing</p>#}
{#                            </div>#}
{#                        </div>#}
{#                        <h3 class="tips">Tips To Troubleshooting Common Plumbing Issues</h3>#}
{#                        <p class="viverra">Dui ac dui in ultricies lorem nunc mauris non. Facilisis tempor egestas nunc#}
{#                            vitae gravida. Massa viverra</p>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">#}
{#                    <a href="single-blog.html" class="blog-box">#}
{#                        <div class="overflow-hidden">#}
{#                            <img class="blog-img" src="{% static 'images/blog-page/blog-img2.jpg' %}" alt="blog-img1">#}
{#                        </div>#}
{#                        <div class="tag-date">#}
{#                            <div class="tag-date-sub">#}
{#                                <img class="blog-cal-svg" src="{% static 'images/svg/calendar.svg' %}" alt="calendar">#}
{#                                <p>20 Dec 2025</p>#}
{#                            </div>#}
{#                            <div class="tag-date-sub">#}
{#                                <img src="{% static 'images/svg/tag-svg.svg' %}" alt="calendar">#}
{#                                <p>Handyman</p>#}
{#                            </div>#}
{#                        </div>#}
{#                        <h3 class="tips">How To Solve Washing Machine Service Issues</h3>#}
{#                        <p class="viverra">Elit diam facilisis lectus faucibus. Facilisi in tellus etiam gravida#}
{#                            fermentum. Adipiscing netus sed potenti sed...</p>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">#}
{#                    <a href="single-blog.html" class="blog-box">#}
{#                        <div class="overflow-hidden">#}
{#                            <img class="blog-img" src="{% static 'images/blog-page/blog-img3.jpg' %}" alt="blog-img1">#}
{#                        </div>#}
{#                        <div class="tag-date">#}
{#                            <div class="tag-date-sub">#}
{#                                <img class="blog-cal-svg" src="{% static 'images/svg/calendar.svg' %}" alt="calendar">#}
{#                                <p>15 Dec 2025</p>#}
{#                            </div>#}
{#                            <div class="tag-date-sub">#}
{#                                <img src="{% static 'images/svg/tag-svg.svg' %}" alt="calendar">#}
{#                                <p>Carpentry</p>#}
{#                            </div>#}
{#                        </div>#}
{#                        <h3 class="tips">Behind the Scenes: The Unsung Heroes of Home Maintenance</h3>#}
{#                        <p class="viverra">Interdum vel sed molestie odio nisi lacus risus. Sociis at egestas pharetra#}
{#                            nulla lorem ut. Ornare molestie...</p>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <!-- ====================================== Section REPAIR & INSTALLATION ===================================== -->
    {% include 'includes/faq.html' %}

    <!-- ====================================== Section schedule service ===================================== -->
    <section class="ScheduleService">
        <div class="container ScheduleService-main">
            <img class="parts-img" src="{% static 'images/logo-rotate.png' %}" class="img-fluid" width="80" alt="parts-img" loading="lazy">
            <div>
                <h3 class="need">Need to get your business jumpstarted?</h3>
                <p class="egestas">Consult our industry leading experts today</p>
            </div>
            <a href="#quote" class="btn-main btn1 bookNowSchedul">Book Now
                <span class="arrow-section">
                    <img class="arrow" src="{% static 'images/svg/right-arrow-svg.svg' %}" alt="right-arrow-svg">
                </span>
                <div class="btn-box-left btn1"></div>
                <div class="btn-box-right btn1"></div>
            </a>
        </div>
    </section>


{% endblock %}